body {
    height: 100%;
}

.Div-Video-Fundo {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;;
}

.Div-Video-Fundo video {
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
}

.Div-Container-Center {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.Div-Container-Center .Div-icons h3 {
    color: #0af;
}

.Div-Container-Center .Div-icons {
    display: none;
    width: 90px;
    height: 150px;
    border-radius: 15px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: grayscale(100%);
}

.Div-Container-Center .Div-icons:hover {
    filter: grayscale(0);
    transition: .5s;
    color: #0af;
}

.Div-Video-Fundo .Div-Container-Center {
    position: relative;
    z-index: 2;
    border-radius: 30px;
    backdrop-filter: blur(3px);
    width: auto;
    height: auto;
}